<%= form_for @search, url: searches_path, as: :search, remote: true,
  html: {id: :nano_search_form, data: nano_api_urls.merge(nano_api_search: 1)} do |f| %>

  <%= f.hidden_field :origin_iata %>
  <%= f.hidden_field :destination_iata %>
  <p>
    <%= f.label :origin_name %>
    <%= f.text_field :origin_name %>
  </p>
  <p>
    <%= f.label :destination_name %>
    <%= f.text_field :destination_name %>
  </p>
  <p>
    <%= f.label :depart_date %>
    <%= f.text_field :depart_date %>
  </p>
  <p>
    <%= f.label :return_date %>
    <%= f.text_field :return_date %>
  </p>
  <p>
    <%= f.label :trip_class %>
    <%= f.select :trip_class, trip_classes_map %>
  </p>
  <p>
    <%= f.label :range %>
    <%= f.check_box :range %>
  </p>
  <p>
    <%= f.label :one_way %>
    <%= f.check_box :one_way %>
  </p>
  <p>
    <%= f.label :adults %>
    <%= f.select :adults, NanoApi::Search.adults_values %>
  </p>
  <p>
    <%= f.label :children %>
    <%= f.select :children, NanoApi::Search.children_values %>
  </p>
  <p>
    <%= f.label :infants %>
    <%= f.select :infants, NanoApi::Search.infants_values %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
